.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 80%;
}

.modal-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-actions button {
    background-color: #0166a5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-actions .close-button {
    background-color: #ccc;
    color: black;
    flex: 1;
    max-width: 100px; /* Ancho máximo para el botón de cerrar */
}

.modal-actions .save-button {
    flex: 2;
    max-width: 300px; /* Ancho máximo para el botón de guardar */
    margin-left: 10px;
}
